{% layout none %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}



  {{ content_for_header }}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% include 'font-family' %}
  <!-- JS ================================================== -->
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

</head>

<body class="template-password" id="coming-soon-page">

  <div class="password-page__wrapper coming-soon-page">

    <header class="password-page__header" role="banner">

      <div class="password-page__header__inner">

        {% comment %}
        Site name or logo
        {% endcomment %}
        <div class="password-page__logo">
          {% if settings.logo_password != blank %}
          <img class="logo" src="{{ settings.logo_password | img_url }}" alt="{{ shop.name }}" itemprop="logo">
          {% else %}
          <h1 class="h2">
            <span>{{ shop.name }}</span>
          </h1>
          {% endif %}
        </div>

        {% comment %}
        Link to password modal
        {% endcomment %}
        <p class="password-login text-right small--text-center">
          <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
            Enter using password
          </a>
        </p>

      </div>

    </header>

    <div class="password-page__main" role="main">

      <div class="password-page__main__inner">

        {% if settings.home_block_title_7 != blank %}
        <h2>
          {{ settings.home_block_title_7 | split: '|' | first }}
        </h2>
        {% endif %}
        {% if settings.home_block_sub_title_7 != blank %}
        <p>
          {{ settings.home_block_sub_title_7 | split: '|' | first }}
        </p>
        {% endif %}
        <div id="cntdwn" class="timeline-block"></div>
        <script>
          //<![CDATA[
          jQuery(document).ready(function($){
            $(".timeline-block").lofCountDown({
              TargetDate:"{{ settings.home_block_countdown_7 }}",

              DisplayFormat:"<div class='day'><span class='no'>%%D%%</span><span class='text'>days</span></div><div class='hours'><span class='no'>%%H%%</span><span class='text'>hours</span></div><div class='min'><span class='no'>%%M%%</span><span class='text'>min</span></div><div class='second'><span class='no'>%%S%%</span><span class='text'>sec</span></div>",
              FinishMessage: "Expired"
            });
          });
          //]]>
        </script>
        {{ 'jquery.countdown.js' | asset_url | script_tag }}


        {% unless shop.password_message == blank %}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
        {% endunless %}

        {% comment %}
        Signup form
        {% endcomment %}

        <div class="password-page__signup-form">
          {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
          <p class="form-success">We will send you an email right before we open!</p>
          {% else %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">Email</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="Your Email">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="notify me">
            </span>
          </div>
          {% endif %}
          {% endform %}
        </div>

        {% comment %}
        Share homepage URL
        Shared text is from the store meta description
        {% endcomment %}



      </div>

    </div>

    <footer class="password-page__footer" role="contentinfo">
      <div class="password-page__footer_inner">

        <div class="content custom-fotter-top">
          <div class="footer-icon-share">
            {% if settings.footer_column_4_icon_1 != blank %}
            <a href="{{ settings.footer_column_4_icon_link_1 }}">
              <i class="{{ settings.footer_column_4_icon_1 }}"></i>
            </a>
            {% endif %}
            {% if settings.footer_column_4_icon_2 != blank %}
            <a href="{{ settings.footer_column_4_icon_link_2 }}">
              <i class="{{ settings.footer_column_4_icon_2 }}"></i>
            </a>
            {% endif %}
            {% if settings.footer_column_4_icon_3 != blank %}
            <a href="{{ settings.footer_column_4_icon_link_3 }}">
              <i class="{{ settings.footer_column_4_icon_3 }}"></i>
            </a>
            {% endif %}
            {% if settings.footer_column_4_icon_4 != blank %}
            <a href="{{ settings.footer_column_4_icon_link_4 }}">
              <i class="{{ settings.footer_column_4_icon_4 }}"></i>
            </a>
            {% endif %}
            {% if settings.footer_column_4_icon_5 != blank %}
            <a href="{{ settings.footer_column_4_icon_link_5 }}">
              <i class="{{ settings.footer_column_4_icon_5 }}"></i>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>

  </div>

  <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
    <p class="h4">Enter store using password:</p>
    {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <div class="input-group">
      <input type="password" name="password" id="password" class="input-group-field" placeholder="Your Password" autofocus>
      <span class="input-group-btn">
        <input type="submit" class="btn password-page__login-form__submit" value="Enter">
      </span>
    </div>
    {% endform %}
    <p class="admin-login">Are you the store owner? <a href="/admin" class="text-link">Log in here</a></p>
  </div>

  {{ 'magnific-popup.min.js' | asset_url | script_tag }}

<style>
  #coming-soon-page h2 {
    font-size: 40px;
    font-weight: 300;
    margin: 0 0 40px;
    letter-spacing: 12px;
  }
  #coming-soon-page p {
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #acacac;
  }
  #coming-soon-page #cntdwn {margin-bottom: 65px;margin-top: 80px;}
  #coming-soon-page #cntdwn > div {
    display: inline-block;
    padding: 0 25px;
  }
  #coming-soon-page #cntdwn > div .no {
    font-size: 50px;
    color: #fff;
    min-width: auto;
    line-height: 1;
    display: inline-block;
  }
  #coming-soon-page #cntdwn > div .no b {
    font-weight: 500;
  }
  #coming-soon-page #cntdwn > div .text {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    color: #fff;
    padding-left: 0;
    letter-spacing: 3px;
    margin-top: 15px;
  }
  #coming-soon-page #cntdwn > .day {padding-left: 0;}

  #coming-soon-page #cntdwn > .second {padding-right: 0;}
  #coming-soon-page .timline h3.module-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding-right: 30px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
  }

  #coming-soon-page .custom-fotter-top {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    padding-left: 10px;
  }
  #coming-soon-page .footer-icon-share a {color: #fff;}
  #coming-soon-page .footer-icon-share a i {
    font-size: 20px;
    margin-right: 15px;
  }
  #coming-soon-page {
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  .main-content.coming-soon-page {
    padding-bottom: 0;
  }
  #coming-soon-page .password-page__logo .logo {width: auto;}
  #coming-soon-page .password-page__header {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  #coming-soon-page .password-page__header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 30px;
  }
  #coming-soon-page .password-page__logo,#coming-soon-page .password-login {
    margin: 0;
  }
  .password-page__wrapper {
    background-image: url({{ settings.block_home_image | img_url: "x2048"}});
  }
  #coming-soon-page .input-group .input-group-field {
    height: 50px;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #252525;
    color: #7d7d7d !important;
    font-family: {{ settings.fonts_name_1 }}, sans-serif;
    border-radius: 0;
  }
  #coming-soon-page .input-group .btn {
    height: 50px;
    border-radius: 0;
    line-height: 50px;
    padding: 0 32px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: {{ settings.body_link_color_hover }};
    font-family: {{ settings.fonts_name_1 }}, sans-serif;
    color: #fff;
  }
  #coming-soon-page .input-group .btn:hover {background: #333;}
  #coming-soon-page .footer-icon-share a:hover,.password-page__wrapper a:hover {color: {{ settings.body_link_color_hover }};}
  .password-page__wrapper a {color: #fff;}
  #coming-soon-page .input-group .input-group-field:focus {
    outline: 0;
    border: 1px solid {{ settings.body_link_color_hover }};
  }
  </style>
  <script>
    $(function() {
      $('.js-toggle-login-modal').magnificPopup({
        type: 'inline',
        mainClass: 'mfp-fade',
        closeOnBgClick: false,
        closeBtnInside: false,
        closeOnContentClick: false,
        tClose: {{ 'general.password_page.close' | t | json }},
        removalDelay: 500,
        callbacks: {
        open: function() {
        window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
    }
      }
      });
    if ( $('.storefront-password-form .errors').size() ) {
      $('.js-toggle-login-modal').click();
    }
    });
  </script>

</body>
</html>
